*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
    width: 860px;
    display: flex;
}
.product-preview{
    background: linear-gradient(45deg,#DBC686,#D2C2AD); 
    width: 50%; 
    height: 475px;
    border-radius: 5px;
    padding-bottom: 70px;
}

.product-preview .product-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-preview #product-img{
    width: 100%;
    margin-bottom: -3rem;
}

.product-details{
    width: 40%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}
.badge{
  background-color: #DBC686;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 5px 10px;
  margin-left: 10px;
}
.product-details span{
  font-weight: 500;
}
.product-details hr{
    color:  lightgray;
    margin: 0.7rem 0rem;
}
.product-info p{
  font-size: 0.9rem;
  font-weight: 500;
}
.colors{
    display: flex;
    margin-top: 0.5rem;
}
.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
.buy-price a{
  margin-top: 1rem;
  display: flex;
}

.buy-price button{
  background-color: #DBC686;
  color: #fff;
  border: none;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.buy-price button:hover {
  color: #DBC686;
  transition: .5s ease;
  background-color: transparent;
  border: 1px solid;
  border-color: #DBC686;
}

.buy-price a button i{
  margin-right: 5px;
}

.price{
  margin-left: auto;
  font-size: 1.9rem;
  font-weight: 600;
}

.buy-price a{
  text-decoration: none;
  color: #000;
}

.products-description li {
  list-style: inside;
}

@media screen and (max-width: 785px){
  .card{
    width: 700px;
    display: flex;
    align-items: center;
  }
  .product-preview{
    height: 400px;
  }
}
@media screen and (max-width: 684px){
  .card{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .product-preview{
    width: 100%;
    margin-top:20px;
  }
  .product-details{
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .product-img #product-img{
    margin-right: 0px;
  }
  .product-preview{
    margin-top: 400px;
  }

  .buy-price button {
    height: 100px;
  }

  .price {
    font-size: 1.4rem;
  }

  .buy-price a{
    align-items: center;
  }
}